<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Principal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="principal">
        <div class="titulo">
            <h1 class="tit">Principal</h1>
        </div>
        <div class="botones">
            <button class="contacto"></button>
            <button class="producto"></button>
            <button class="principal"></button>
        </div>
    </section>
    
</body>
</html>